{% extends 'base.html' %} {% load static %} {% block body %}

<div class="card" style="max-width: 400px; margin: 40px auto">
    <div class="card-body">
        <h4 class="card-title mb-4">Forgot Your Password</h4>
        {% include 'django_messages.html' %}
        <form action="{% url 'account:forgot_password' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input
                    name="email"
                    type="email"
                    class="form-control"
                    placeholder="Email Address"
                />
            </div>

            <div class="form-group">
                <span>Remember Password?</span
                ><a href="{% url 'account:login' %}" class="float-right"
                    >Login</a
                >
            </div>

            <div class="form-group">
                <button
                    id="login"
                    type="submit"
                    class="btn btn-primary btn-block"
                >
                    Submit
                </button>
            </div>
        </form>
    </div>
    <p class="text-center mb-4">
        Don't have account? <a href="{% url 'account:register' %}">Sign up</a>
    </p>
</div>
{% endblock body %}
