{% extends 'base.html' %} {% load static %} {% block body %}

<div class="card" style="max-width: 400px; margin: 40px auto">
    <div class="card-body">
        <h4 class="card-title mb-4">Reset Password</h4>
        {% include 'django_messages.html' %}
        <form action="{% url 'account:reset_password' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input
                    name="password"
                    type="password"
                    class="form-control"
                    placeholder="Enter Your Password"
                />
            </div>
            <div class="form-group">
                <input
                    name="confirm_password"
                    type="password"
                    class="form-control"
                    placeholder="Confirm Your Password"
                />
            </div>

            <div class="form-group">
                <button
                    id="login"
                    type="submit"
                    class="btn btn-primary btn-block"
                >
                    Reset
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock body %}
